{
    "presets": [
        [
            "@babel/preset-env",
            {
            "targets": {
                "browsers": [
                "> 1%"
                ]
            },
            "loose": true
            }
        ]
    ],
    "comments": false,
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties"
    ]
}